html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px ; background-color: #000; }
#mcmap { height: 100% }

.infoWindow {
    height: 100px;
}

.infoWindow>img {
    width:80px;
    float: left;

}

.infoWindow>p {
    text-align: center;
    font-family: monospace;
}

#searchControl {
    padding: 5px;
    height: 20px;
    width: 20em;
    font-family: Arial, sans-serif;
}

#searchControl > input {
    border: 2px solid #000;
    width: 20em;
    font-size: 12pt;
    background-colour: #fff;
}

div#searchDropDown {
    border: 1px solid #000;
    width: 17em;
    font-size: 14pt;
    background-color: #fff;
    display: none;
}

div.searchResultItem {

}

div.searchResultItem img {
    width: 24px;
    height: 24px;
}

#signControl {
    padding: 5px;
    padding-left: 3em;
    padding-right: 3em;
    height: 15px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    width: 10em;
}

div.signControlItem img {
    width: 24px;
    height: 24px;
}

#signControl > div#top {
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    width: 10em;
    cursor: pointer;
}

#signControl > div#dropDown {
    border: 1px solid #000;
    width: 10em;
    background-color: #fff;
    display: none;
}



#link {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.55);
    border: 1px solid rgb(0, 0, 0);
    font-size: 9pt;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

#link:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255,255,255,0.8);
}
